<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Vitals Data</title>
</head>
<body>
   <h1>Add Vitals Data</h1>
   <form action="/api/healthdata/post">
    <label for="Post Data">Post Data:</label>
    <input type="Submit" value="Submit">
  </form>

  <h1>Get Vitals Data</h1>
  <form action="/api/healthdata" method = "Get">
   <label for="Get Data">Get Data:</label>
   <input type="Submit" value="Submit">
  </form>


  <h1>Get Vitals Data</h1>
   <form id = "GetDatabyIDForm" action="api/healthdata/" method="get">
    <label for="GetDataByID">Get Data by ID:</label>
    <input type = number id = "GetDataByID" name = "GetDataByID">
    <input type="Submit" value="Submit">
 </form>

 <script>
  document.getElementById("GetDatabyIDForm").addEventListener("submit", function(event) {
    event.preventDefault();
    var searchQuery = document.getElementByID("GetDataByID").value;
    var newURL = "/api/healthdata/" + encodeURIComponent(searchQuery);
  document.getElementbyID("GetDatabyIDForm").action = newURL;
  this.submit();

  })
 </script>

</body>
</html>