<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Vitals Data</title>
</head>
<body>
   <h1>Add Vitals Data</h1>
   <form action="/api/healthdata/post">
    <label for="Post Data">Post Data:</label>
    <input type="Submit" value="Submit">
  </form>

  <h1>Get Vitals Data</h1>
  <form action="/api/healthdata" method = "Get">
   <label for="Get Data">Get Data:</label>
   <input type="Submit" value="Submit">
  </form>


  <!--
  <h1>Get Vitals Data</h1>
   <form action ="/api/healthdata/1">
    <label for="GetDataByID">Get Data by ID:</label>
    <input type="Submit" value="Submit">
   </form>
   -->

</body>
</html>