<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Vitals Data</title>
</head>
<body>
   <h1>Add Vitals Data</h1>
   <form action="/api/healthdata/post">
    <label for="Post Data">Post Data:</label>
    <input type="Submit" value="Submit">
  </form>

  <h1>Get All Vitals Data</h1>
  <form action ="/api/healthdata" method = "POST">
   <label for="GetDataByID">Get Data by ID:</label>
   <input type="Number" id="GetDataByID" name = "GetDataByID">
   <input type="Submit" value="Submit">
  </form>

  <h1>Get Vitals Data by Patient ID</h1>
  <form action="/api/healthdata" method = "GET">
   <label for="Get Data">Get Data:</label>
   <input type="Submit" value="Submit">
  </form>




</body>
</html>